events {
    worker_connections 1024;
}

http {
    server {
        listen 3000;
        server_name localhost;

        # Serve static files from root directory
        location / {
            root /usr/share/nginx/html;
            index index.html;
            try_files $uri $uri/ =404;
        }

        # Proxy requests with /syc/ to another service at 127.0.0.1:8000
        location /syc/ {
            proxy_pass http://shareyourcloning:8000;
        }
    }

    error_log /dev/stderr;
    access_log /dev/stdout;
}
