events {
    worker_connections 1024;
}

http {
    server {
        listen 3000;
        server_name localhost;

        # Serve static files from root directory
        location / {
            root /Users/Manu/Documents/Projects/OpenCloning/OpenCloning_iframe;  # Update this to the correct path for index.html
            index index.html;
            try_files $uri $uri/ =404;
        }

        # Proxy requests with /opencloning/ to another service at 127.0.0.1:8000
        location /opencloning {
            # Handle both trailing and non-trailing slash cases
            rewrite ^/opencloning/?(.*) /$1 break;
            proxy_pass http://127.0.0.1:8000/;  # Note trailing slash here
        }
    }

    error_log /dev/stderr;
    access_log /dev/stdout;
}
